@use '../partials/variables'as *;

.homepage {
  min-height: 100vh;
}

.search-form {

  padding: $global-padding;

  &__input-container {
    width: 100%;
  }

  &__input {
    width: 100%;
    border: 1px solid color(input-borders);
    border-radius: 4px;
  }
}

.search-result {
  padding: $global-padding;

}

.nominated-movies {
  padding: $global-padding;

}